body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #006994;
}

#main-content {
    width: 90vw;
    margin: auto;
    align-content: center;
    background-color: black;
    border: 0.2vw solid white;
    padding: 3vw;
}

.player-name {
    font-size: 1.5vw;
    font-weight: bolder;
    text-align: center;
}

.player {
    display: inline-block;
    margin: 1.5vw;
    margin-bottom: 0.5vw;
    padding: 1vw;
    border: 0.01vw solid black;
    background-color: white;
    text-align: left;
}

.country-flavor {
    font-size: 0.8vw;
    color: black;
}

.player:hover {
    border: 0.2vw solid white;
    margin: 1.8vw;
    margin-bottom: 0.3vw;
}

#screen {
    padding: 0;
    margin: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
}

.canvas-container {
    display: inline-block;
}

#player-statuses {
    display: inline-block;
}

label {
    color: white;
    margin-right: 0.8vw;
}

#map-display-size {
    width: 4vw;
}

h1 {
    font-size: 6vw;
    color: orange;
}

h3 {
    color: white;
}

input {
    display: inline-block;
}

label {
    display: inline-block;
}