body {
    padding: 0;
    margin: 0;
    text-align: left;
}

.main-content {
    text-align: left;
}

#screen {
    padding: 0;
    margin: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
}

input {
    display: inline-block;
}

label {
    display: inline-block;
}