<!DOCTYPE html>
<html lang="en">
<head>
    <title>Civilization Competition</title>
    <link rel="stylesheet" href="main.css"/>
    <link rel="icon" href="/favicon.ico"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.3/fabric.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body>
    <div id="main-content">
        <h1>Civilization</h1>

        <div id="spectator-options">
            <h3>Spectate Options</h3>

            <input type="checkbox" id="spectate-1" name="spectate-1">
            <label id="spectate-1-label" for="spectate-1">Unnamed 1</label>

            <input type="checkbox" id="spectate-2" name="spectate-2">
            <label id="spectate-2-label" for="spectate-2">Unnamed 2</label>

            <input type="checkbox" id="spectate-3" name="spectate-3">
            <label id="spectate-3-label" for="spectate-3">Unnamed 3</label>

            <input type="checkbox" id="spectate-4" name="spectate-4">
            <label id="spectate-4-label" for="spectate-4">Unnamed 4</label>

            <input type="checkbox" id="spectate-full" name="spectate-full" checked="true">
            <label id="spectate-full-label" for="spectate-full">All Players</label>
        </div>

        <canvas id="screen"></canvas>
    </div>
</body>
</html>